.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease-in;
}

@keyframes fadeOut {
    from {
        bottom: 0;
    }

    to {
        bottom: -100%;
    }
}