@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'AnonPro';
    src: url('./fonts/AnonPro.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Scope';
    src: url('./fonts/Scope.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}

.fade-out {
  animation: fadeOut 0.6s ease-in;
}

@keyframes fadeOut {
  from {
    bottom: 0;
  }

  to {
    bottom: -100%;
  }
}