.background {
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  font-family: Scope;
}

.button {
  background-color: rgb(242, 161, 126);
  border: 1px solid red;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}